(
    version: 1,
    notes: Static((
        fill: Solid(Constant((255, 255, 255))),
        sheen: None,
        glow: None,
        roundedness: 1.0,
        fall_speed: 400.0,
        border: None,
        black_key_fill: Auto,
        alpha: Constant(1.0),
    )),
    barrier: Static((
        color: Constant((255, 255, 255)),
        thickness: 4.0,
        glow: None,
        pulse: None,
        wavy: None,
        show_bar: true,
    )),
    transition: Static((
        kind: Flash,
        particles: None,
        flash: Some((
            radius_x_px: Constant(3.0),
            radius_y_px: Constant(3.0),
            color: Solid(Constant((255, 255, 255))),
            decay_seconds: Constant(0.15),
            mode: Sustained,
            brightness: Constant(1.0),
            layers: ((
                amplitude: 2.0,
                sigma_px: 5.0,
            ), (
                amplitude: 2.0,
                sigma_px: 8.0,
            ), (
                amplitude: 1.3,
                sigma_px: 10.0,
            )),
            flicker_speed: Constant(10.0),
            flicker_intensity: Constant(0.5),
            god_rays: None,
            ring: None,
            chromatic_aberration: 0.0,
        )),
    )),
    background: Constant((0, 0, 0)),
)
