(
    version: 1,
    notes: Static((
        fill: Solid(Constant((255, 255, 255))),
        sheen: None,
        glow: None,
        roundedness: 1.0,
        fall_speed: 400.0,
        border: None,
        black_key_fill: Auto,
    )),
    barrier: Static((
        color: Constant((255, 255, 255)),
        thickness: 4.0,
        glow: None,
        pulse: None,
        wavy: None,
        show_bar: true,
    )),
    transition: Static((
        kind: Flash,
        particles: None,
        flash: Some((
            radius_x_px: 20.0,
            radius_y_px: 5.0,
            color: Constant((255, 220, 140)),
            decay_seconds: 0.1,
            mode: Sustained,
            brightness: 0.5,
            layers: ((
                amplitude: 2.6,
                sigma_px: 2.0,
            ), (
                amplitude: 1.1,
                sigma_px: 5.0,
            ), (
                amplitude: 0.38,
                sigma_px: 10.0,
            )),
        )),
    )),
    background: Constant((0, 0, 0)),
)
