(
    version: 1,
    notes: Static((
        fill: Solid(Constant((255, 255, 255))),
        sheen: None,
        glow: None,
        roundedness: 1.0,
        fall_speed: 400.0,
        border: None,
        black_key_fill: Auto,
        alpha: Constant(1.0),
    )),
    barrier: Static((
        color: Constant((255, 255, 255)),
        thickness: 4.0,
        glow: None,
        pulse: None,
        wavy: None,
        show_bar: true,
    )),
    transition: Static((
        kind: Flash,
        particles: None,
        flash: Some((
            radius_x_px: Constant(6.0),
            radius_y_px: Constant(6.0),
            color: Solid(Constant((255, 246, 224))),
            decay_seconds: Constant(0.2),
            mode: Sustained,
            brightness: Constant(0.4),
            layers: ((
                amplitude: 1.2,
                sigma_px: 25.0,
            ), (
                amplitude: 0.9,
                sigma_px: 50.0,
            ), (
                amplitude: 0.6,
                sigma_px: 50.0,
            )),
            flicker_speed: Constant(0.0),
            flicker_intensity: Constant(0.0),
            god_rays: Some((
                count: 32,
                length_px: 72.0,
                length_jitter: 0.0,
                softness: 1.5,
                rotation_offset_deg: 0.0,
                rotation_speed_deg_per_sec: 30.0,
                pulse_speed: 0.0,
                pulse_amount: 0.0,
                streakiness: 1.0,
                flicker_speed: 4.0,
                flicker_intensity: 1.0,
                intensity: 0.5,
            )),
            ring: Some((
                radius_px: 67.0,
                width_px: 24.0,
                intensity: 0.1,
            )),
            chromatic_aberration: 0.07,
        )),
    )),
    background: Constant((0, 0, 0)),
)
